/**
 * Root Media Query Variables
 */
:root {
	--responsive--aligndefault-width: 1080px;
}

/**
 * Extends
 */
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.inner-container > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
	max-width: var(--responsive--aligndefault-width);
	margin-left: auto;
	margin-right: auto;
}

/* Block Alignments */

/**
 * These selectors set the default max width for content appearing inside a post or page.
 */
